.About {
  text-align: center;
}

p {
  padding-left: 120px;
  padding-right: 120px;
  text-align: justify;
}

.mainContainer {
  padding-top: 30px;
}

.koi {
  width: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.About-transition-enter {
  opacity: 0;
}

.About-transition-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.About-transition-exit {
  opacity: 1;
}
.About-transition-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}