.About {
  text-align: center;
}

p {
  padding-left: 150px;
  padding-right: 150px;
  text-align: justify;
}

.mainContainer {
  padding-top: 30px;
}

.koi {
  width: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}