.About {
  /* text-align: left; */
}


.mainContainer {
  padding-top: 80px;
}

.koi {
  width: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-profile {
  width: 350px;
}


.About-transition-enter {
  opacity: 0;
}

.About-transition-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.About-transition-exit {
  opacity: 1;
}
.About-transition-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}